/* Universal Elements/Layouts */

body { margin: 0px; padding: 0px; background-image: url('https://cms.txwes.edu/media/twu/style-assets/images/homepage/bg.png'); font-family: Arial, sans-serif; min-width: 320px; color: #666; }

/* Global Styles for Basic Elements */

a { color: #004b8d; text-decoration: none; }
a:visited { color: #004b8d; }
a img { border: none; }

/* Fix for images that are coded as <img src=<t4 />/> and there isn't an image on the content type */

img[src=""] { display: none; }
img[src*="googleads"] { display: none; } /* fix chrome bug that displays tracking images as white box */

/* Fix for oversized images on pages for responsive */

#centerCol img, #rightCol img { max-width: 100% !important; height: auto !important; }
#imageView_container img { max-width: none !important; }

/* iFrame and other embedded objects quick fix */

#centerCol iframe, #centerCol object, #centerCol embed, #centerCol video { width: 100% !important; }

/* global UL style */

#centerCol ul, #rightCol ul { list-style-image: url('https://txwes.edu/media/twu/style-assets/images/bullets/First-Level.png'); }
#centerCol ul ul, #rightCol ul ul { list-style-image: url('https://txwes.edu/media/twu/style-assets/images/bullets/Second-Level.png'); }
#centerCol ul ul ul, #rightCol ul ul ul { list-style-image: url('https://txwes.edu/media/twu/style-assets/images/bullets/Third-Level.png'); }
#centerCol ul ul ul ul, #rightCol ul ul ul { list-style-image: url('https://txwes.edu/media/twu/style-assets/images/bullets/Fourth-Level.png'); }

/* Trade Gothic Specialty Font */

.gothic { font-family: 'Oswald', 'Trade Gothic', Arial, Helvetica, sans-serif; letter-spacing: 1px; }
.oswald { font-family: 'Oswald', 'Trade Gothic', Arial, Helvetica, sans-serif; letter-spacing: 1px; }

/* Page Layouts and Styles */

#outerCT { width: 1000px; margin-left: auto; margin-right: auto; }

#headerCT { color: #ffffff; position: relative; top: 0px; left: 0px; }
#headerCT a, #headerCT a:visited { color: inherit; }

#headerTop { width:1000px; height: 100px; border-bottom: 4px solid #fed000; position: relative; top: 0px; left: 0px; overflow: visible; }

#headerTop #logo { background-image: url('https://cms.txwes.edu/media/twu/style-assets/images/homepage/logo_125.png'); background-repeat: no-repeat; background-size: contain; width: 276px; height: 63px; position: absolute; top: 50%; left: 0px; margin-top: -33px; background-position: left; }

#headerTop #selfSelect { height: 40px; width: 156px; background-color: #004b8d; background-image: url('https://txwes.edu/media/twu/style-assets/images/i-am-a-button.png'); background-repeat: no-repeat; background-size: contain; position: absolute; top: 50%; margin-top: -20px; right: 0px; cursor: pointer; z-index: 1000; }
#headerTop #selfSelect #selfSelectTitle { line-height: 40px; margin: 0px 35px 0px 60px; white-space: nowrap; }
#headerTop #selfSelect img { position: absolute; top: 50%; margin-top: -5px; right: 10px; }
#headerTop #selfSelectDrop { display: none; list-style-type: none; margin: 0px; padding: 0px; background-color: #f3f3f3; color: #333; width: 156px; position: absolute; right: 0px; top: 50%; margin-top: 20px; z-index: 1000; }
#headerTop #selfSelectDrop.active { display: block; }
#headerTop #selfSelectDrop li { margin: 0px; padding: 5px 10px; }
#headerTop #selfSelectDrop li:first-child { padding-top: 10px; }
#headerTop #selfSelectDrop li:last-child { padding-bottom: 10px; }
#headerTop #selfSelectDrop li:hover { background-color: #d5e5ef; }

#headerTop #findAnOffice { position: absolute; top: 50%; margin-top: -20px; right: 176px; background-image: url('https://txwes.edu/media/twu/style-assets/images/find-an-office.png'); background-repeat: no-repeat; background-size: contain; background-color: #004b8d; line-height: 40px; padding: 0px 15px 0px 60px; }

#headerBottom { background-color: #191919; height: 46px; width: 1000px; position: relative; top: 0px; left: 0px; overflow: visible; display: table; }

#headerBottom #globalNav { list-style-type: none; margin: 0; padding: 0; display: table-row; }
#headerBottom #globalNav.active { display: block; }
#headerBottom #globalNav li { display: table-cell; line-height: 46px; text-align: center; padding: 0px 12px; }
#headerBottom #globalNav li:nth-child(8) { display: none; }
#headerBottom #globalNav li:nth-child(9) { display: none; }

#headerBottom #globalNavMoreBtn { cursor: pointer; }

#headerBottom #globalNavMore { display: none; background-color: #191919; margin: 0px; padding: 6px 10px; list-style-type: none; position: absolute; right: 0px; top: 46px; z-index: 1000; }
#headerBottom #globalNavMore.active { display: block; }
#headerBottom #globalNavMore li { padding: 6px 10px; border-bottom: 1px solid #f3f3f3; }
#headerBottom #globalNavMore li:last-child { border-bottom: none; }

#mobileMenuButton { background-image: url('https://txwes.edu/media/twu/style-assets/images/mobile-menu.png'); height: 44px; width: 92px; position:absolute; right: 64px; top: 15px; cursor: pointer; display: none; }
#mobileMenuButton.active { background-image: url('https://txwes.edu/media/twu/style-assets/images/mobile-menu-active.png'); }

#searchCT { position: absolute; top: 30px; right: 370px; }
#searchCT .searchBar { background-color: #ffffff; height: 32px; width: 195px; float: left; padding: 8px 15px 0px; }
#searchCT .searchBar input { background: none; border: none; width: 195px; font-size: 1.1em; color: #666; }
#searchCT .searchBar input:focus { outline: none; }

#contentCT { width: 1000px; background-color: #ffffff; margin: 0; padding: 0; overflow: auto; background-image: url('https://txwes.edu/media/twu/style-assets/images/responsive/columnCTbg.png'); background-repeat: repeat-y; }
.kfc #contentCT { background-image: none; }
.homepage #contentCT { background-image: none; }

#footerCT { background-color: #191919; color: #ffffff; width: 1000px; position: relative; top: 0px; left: 0px; padding: 0px; margin-bottom: 42px; overflow: auto; }
#footerCT a, #footerCT a:visited { color: inherit; }
#footerCT #logoCT { float: left; width: 253px; padding: 20px 40px; }
#footerCT #logoCT #footerLogo { margin-top: 10px; }
#footerCT #logoCT #footerSmarter { margin-top: 20px; }
#footerCT #footerContactInfo { float: left; width: 254px; padding: 20px 40px; }
#footerCT #footerContactInfo .contactTitle { font-size: 1.2em; color: rgba(255,255,255,0.5); margin-bottom: 20px; }
#footerCT #footerContactInfo .contactMap { float: left; margin-right: 15px; width: 95px; }
#footerCT #footerContactInfo .contactInfo { font-size: 0.9em; overflow: auto; }
#footerCT #footerSocial { float: left; width: 253px; padding: 20px 40px; overflow: auto; }
#footerCT #footerSocial .socialTitle { font-size: 1.2em; color: rgba(255,255,255,0.5); margin-bottom: 20px; }
#footerCT #footerSocial .socialButton { margin-right: 20px; float: left; height: 51px; width: 51px; }
#footerCT #footerSocial .socialButton.facebook { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/facebook.png'); }
#footerCT #footerSocial .socialButton.facebook:hover { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/facebook_hover.png'); }
#footerCT #footerSocial .socialButton.twitter { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/twitter.png'); }
#footerCT #footerSocial .socialButton.twitter:hover { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/twitter_hover.png'); }
#footerCT #footerSocial .socialButton.youtube { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/youtube.png'); }
#footerCT #footerSocial .socialButton.youtube:hover { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/youtube_hover.png'); }

#footerCT #copyright { width: 960px; border-top: 1px solid rgba(255,255,255,0.5); color: rgba(255,255,255,0.5); text-align: center; font-size: 0.8em; padding: 15px 0px; float: left; margin: 0px 20px; }
#footerCT #copyright #privacyPolicy { color: #ffffff; border-left: 1px solid rgba(255,255,255,0.5); padding-left: 10px; margin-left: 10px; }

#goToCT { height: 42px; width: 1000px; background-color: rgba(0,75,141,0.9); position: fixed; bottom: 0px; left: 50%; margin-left: -500px; z-index: 99; }
#goToCT a, #goToCT a:visited { color: inherit; }
#goToCT .goToTitle { position: absolute; left: 0px; top: 0px; background-color: #ccc; color: #666; font-size: 1.1em; padding: 13px 25px; }
#goToCT #goToNav { list-style-type: none; padding: 0; color: #ffffff; margin: 17px 0px 0px 120px; font-size: 0.8em; }
#goToCT #goToNav li { margin: 0; display: inline-block; border-right: 1px solid #ffffff; padding: 0px 20px; }
#goToCT #goToNav li:last-child { border: none; }

.pageBreak { width: 100%; height: 10px; background-color: #191919; }

#breadcrumb { font-size: 0.9em; padding: 10px 28px; background-color: #ffffff; }

.scale { }

/* Homepage Elements */

.slider-banner { width: calc(100% - 4px); height:97px; position:relative; top:0px; left:0px; z-index:8; background-color:#fff8d4; border: 2px solid #fed000; }
.slider-banner #slider-banner-icon { height:98px; width:112px; position:absolute; top:0px; left:0px; background-size: cover; background-repeat: no-repeat; }
.slider-banner #slider-banner-action { height:36px; width:149px; position:absolute; top:50%; right:25px; margin-top:-18px; background-size: contain; background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/emergency-action.png'); background-repeat: no-repeat; }
.slider-banner .slider-banner-content { position:absolute; top:15px; left:142px; color:#333; padding-right: 224px; }
.slider-banner .slider-banner-content .slider-banner-title { font-size:1.1em; text-transform: uppercase; font-family: 'Oswald'; }
.slider-banner .slider-banner-content .slider-banner-title .slider-banner-date { font-size:.7em; color:#333; padding-left:10px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
.slider-banner .slider-banner-content a { color:inherit; }

.slider-banner.emergency { background-color: #ffeeee; border-color: #ed1c24; }
.slider-banner.emergency #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-generic.png'); }
.slider-banner.emergency .slider-banner-content .slider-banner-title { color: #ed1c24; }

.slider-banner.emergency.bomb #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-bomb.png'); }
.slider-banner.emergency.fire #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-fire.png'); }
.slider-banner.emergency.hazardous #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-hazardous.png'); }
.slider-banner.emergency.hostage #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-hostage.png'); }
.slider-banner.emergency.medical #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-medical.png'); }
.slider-banner.emergency.shooter #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-shooter.png'); }
.slider-banner.emergency.suspicious #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-suspicious.png'); }
.slider-banner.emergency.utilities #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-utilities.png'); }
.slider-banner.emergency.weather #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/emergency-weather.png'); }

.slider-banner.promotion { background-color: #e1edff; border-color: #004b8d; }
.slider-banner.promotion #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/promotion-generic.png'); }
.slider-banner.promotion .slider-banner-content .slider-banner-title { color: #004b8d; }

.slider-banner.promotion.ntgd { }
.slider-banner.promotion.ntgd #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/NTGD_icon.png'); }
.slider-banner.promotion.ntgd .slider-banner-content .slider-banner-title { color: #147c4b; }
.slider-banner.promotion.ntgd #slider-banner-action { width: 209px; height: 37px; background-image: url('http://cms.txwes.edu/media/twu/style-assets/images/banner/NTGD_cta.png'); }

.slider-banner.holiday { background-color: #fff8d4; border-color: #fed000; }
.slider-banner.holiday .slider-banner-content .slider-banner-title { color: #F15a24; }

.slider-banner.holiday.thanksgiving { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/holiday-thanksgiving-bg.png'); background-position:right; background-repeat:no-repeat; }
.slider-banner.holiday.thanksgiving #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/holiday-thanksgiving.png'); }

.slider-banner.holiday.fallbreak #slider-banner-icon { background-image:url('http://cms.txwes.edu/media/twu/style-assets/images/banner/Fall_Break_icon.png'); }

.slider-banner.holiday.springbreak { background-image:url('https://txwes.edu/media/twu/style-assets/images/spring-break-background.png'); background-position:right; background-repeat:no-repeat; background-color: #fed000; }
.slider-banner.holiday.springbreak #slider-banner-icon { background-image:url('https://txwes.edu/media/twu/style-assets/images/spring-break-icon.png'); }

.slider-banner.holiday.easter { background-image:url('https://txwes.edu/media/twu/style-assets/images/easter_bg.png'); background-position:right; background-repeat:no-repeat; }
.slider-banner.holiday.easter #slider-banner-icon { background-image:url('https://txwes.edu/media/twu/style-assets/images/easter_icon.png'); }

.slider-banner.holiday.memorialday { background-image:url('https://txwes.edu/media/twu/style-assets/images/memorial_day_banner.png'); background-position:right; background-repeat:no-repeat; }
.slider-banner.holiday.memorialday #slider-banner-icon { background-image:url('https://txwes.edu/media/twu/style-assets/images/memorial_day_icon.png'); }

.slider-banner.holiday.mlkday { background-color: #E1EDFF; border-color: #00498E; }
.slider-banner.holiday.mlkday #slider-banner-icon { background-image:url('https://txwes.edu/media/twu/style-assets/images/banner/holiday-MLK.png'); }
.slider-banner.holiday.mlkday .slider-banner-content .slider-banner-title { color: #00498E; }

.slider-banner.holiday.laborday { background-image:url('https://txwes.edu/media/twu/style-assets/images/homepage/labor-day-banner.png'); background-position:right; background-repeat:no-repeat; border-color: #002460; }
.slider-banner.holiday.laborday #slider-banner-icon { background-image:url('https://txwes.edu/media/twu/style-assets/images/homepage/labor-day-icon.png'); }

.slider-banner.holiday.winter { background-image:url('https://txwes.edu/media/twu/style-assets/images/banner/holiday-winter-bg.png'); background-position:right; background-repeat:no-repeat; background-color: #719964; border-color: #719964; }
.slider-banner.holiday.winter #slider-banner-icon { background-image:url('https://txwes.edu/media/twu/style-assets/images/banner/holiday-winter-icon.png'); }
	
.slider-banner .slider-banner-content a { text-decoration:none; color:inherit; }

#homepageTop { overflow:auto; position: relative; top: 0px; left: 0px; }
#homepageTop a, #homepageTop a:visited { color: inherit; }

#homepageTop #applyColumn { float: left; width: 250px; overflow: auto; }
#homepageTop #applyColumn #applyContent { height: 135px; width: 250px; background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/applyNow_button_desktop_default.png'); }
#homepageTop #applyColumn #applyContent:hover { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/applyNow_new_desktop_hover.png'); }
#homepageTop #applyColumn #giveContent { height: 135px; width: 250px; background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/makeGift_button_desktop_default.png'); }
#homepageTop #applyColumn #giveContent:hover { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/makeGift_button_desktop_hover.png'); }

#homepageTop #homepageRotator { width: 750px; height: auto; padding-top: 27%; background-color: #000000; overflow: hidden; float: right; position: relative; left: 0px; top: 0px; }
#homepageTop #homepageRotator .rotatorItem { width: 100%; height: 100%; cursor: pointer; position: absolute; top: 0px; left: 0px; }
#homepageTop #homepageRotator .rotatorItem img { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }
#homepageTop #homepageRotator .rotatorItem .smallerSmarter { position: static; font-size: .6em; text-transform: uppercase; }
#homepageTop #homepageRotator .rotatorItem .smallerSmarter .yellow { color: #fed000; }
#homepageTop #homepageRotator .rotatorItem .rotatorTitle { position: absolute; top: 87px; left: 0px; background-color: rgba(3,34,97,0.8); font-size: 2em; padding: 26px 90px 26px 46px; color: #ffffff; text-transform: uppercase; font-family: 'Oswald', Arial, Helvetica, sans-serif; background-image: url('https://cms.txwes.edu/media/twu/style-assets/images/homepage/rotator_play_button_big.png'); background-position: right 20px center; background-repeat: no-repeat; }
#homepageTop #homepageRotator .rotatorItem .rotatorFeature { position: absolute; top: 140px; left: 50px; font-size: 1.4em; padding: 5px 40px 5px 10px; background-color: rgba(19,19,19,0.7); color: #ffffff; text-transform: uppercase; background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/video_icon.png'); background-repeat: no-repeat; background-position: 95% 8px; }
#homepageTop #homepageRotator #rotatorControls { height: 25px; width: 100%; position: absolute; z-index: 99; bottom: 0px; left: 0px; background-color: rgba(50,50,50,0.5); text-align: center; }
#homepageTop #homepageRotator #rotatorControls .rotatorBullet { cursor: pointer; display: inline-block; height: 25px; width: 25px; background-image: url('https://txwes.edu/media/twu/style-assets/images/homepageRotatorGreyDot.png'); background-repeat: no-repeat; background-position: center center; }
#homepageTop #homepageRotator #rotatorControls .rotatorBullet.current { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepageRotatorYellowDot.png'); }
#homepageTop #homepageRotator #rotatorLeft { cursor: pointer; display: none; height: 50px; width: 50px; background-color: rgba(19,19,19,0.7); position: absolute; top: 50%; margin-top: -25px; left: 0px; }
#homepageTop #homepageRotator #rotatorRight { cursor: pointer; display: none; height: 50px; width: 50px; background-color: rgba(19,19,19,0.7); position: absolute; top: 50%; margin-top: -25px; right: 0px; }
#videoPlayerContainer { display: none; position: absolute; width: 750px; height: 270px; z-index: 999; top:150px; left: 50%; margin-left: -250px; background-image: url('https://txwes.edu/media/twu/style-assets/images/homepageVideoBackground.png'); }
#videoPlayerContainer #videoPlayer { width: 432px; height: 270px; position: absolute; top: 50%; left: 50%; margin-top: -135px; margin-left: -216px; }
#videoPlayerContainer #videoPlayer img { width: 100%; }
#videoPlayerContainer #videoPlayer iframe { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; }

#homepageTop #actionBar { overflow: auto; clear: both; }

#homepageTop #actionBar .actionItem { float: left; width: 249px; border-left: 1px solid #ccc; overflow: auto; position: relative; top: 0px; left: 0px; }
#homepageTop #actionBar .actionItem .actionTitle { font-size: 1.3em; padding: 25px 0px 25px 75px; background-repeat: no-repeat; background-position: left center; background-color: #f3f3f3; }
#homepageTop #actionBar .actionItem .actionContent { padding: 25px; font-size: 0.9em; color: #666; }
#homepageTop #actionBar .actionItem .actionContent a { color: #004b8d; }
#homepageTop #actionBar .actionItem .actionButton {  }

#homepageTop #actionBar #sendMeInfo.actionItem { border-left: none; width: 250px; }
#homepageTop #actionBar #sendMeInfo.actionItem .actionTitle { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/send_me_info.png'); }

#homepageTop #actionBar #findMyMajor.actionItem .actionTitle { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/find_my_major.png'); }
/*#homepageTop #actionBar #findMyMajor.actionItem .actionTitle:hover { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/icon_major_blue.png'); color: #004b8d; }*/
#homepageTop #actionBar #findMyMajor.actionItem .actionButton { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/majors-degrees-button.png'); }

#homepageTop #actionBar #visitCampus.actionItem .actionTitle { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/visit_campus.png'); }
/*#homepageTop #actionBar #visitCampus.actionItem .actionTitle:hover { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/icon_map_blue.png'); color: #004b8d; }*/
#homepageTop #actionBar #visitCampus.actionItem .actionButton { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/schedule-a-visit-button.png'); }

#homepageTop #actionBar #whatWillItCost.actionItem .actionTitle { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/what_will_it_cost.png'); }
/*#homepageTop #actionBar #whatWillItCost.actionItem .actionTitle:hover { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/icon_cost_blue.png'); color: #004b8d; }*/
#homepageTop #actionBar #whatWillItCost.actionItem .actionButton { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/tuition-fees-button.png'); }

#homepageTop .yellowArrow { display: none; position: absolute; right: 28px; top: 50%; margin-top: -10px; height: 19px; width: 13px; background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/big_blue_arrow-40.png'); }

#homepageBottom { overflow: auto; background-color: #f3f3f3; }
#homepageBottom a, #homepageBottom a:visited { color: inherit; }

#homepageBottom #homepageNews { background-color: #ffffff; border-right: 1px solid #ccc; float: left; width: 579px; padding: 10px 20px; }
#homepageBottom #homepageNews #homepageNewsTitle { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/news.png'); background-repeat: no-repeat; background-position: left center; padding: 10px 0px 10px 100px; margin-bottom: 15px; }
#homepageBottom #homepageNews #homepageNewsTitle #moreNews { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/more-news.png'); width: 123px; height: 29px; }
#homepageBottom #homepageNews #homepageNewsList { width: 579px; overflow: auto; margin-bottom: 20px; }
#homepageBottom #homepageNews #homepageNewsList .homepageNewsItem { float: left; margin-right: 30px; width: 170px; font-size: 0.8em; }
#homepageBottom #homepageNews #homepageNewsList .homepageNewsItem:last-child { margin-right: 0px; }
#homepageBottom #homepageNews #homepageNewsList .homepageNewsItem img { width: 170px; margin-bottom: 8px; }
#homepageBottom #homepageNews #homepageNewsList .homepageNewsItem .category { width: 90%; margin: 0px 0px 5px 0px; font-size: 0.9em; font-family: 'Oswald'; text-transform: uppercase; color: #004b8d; }

#homepageBottom #homepageEvents { float: right; width: 340px; padding: 10px 20px; }
#homepageBottom #homepageEvents #homepageEventsTitle { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/events.png'); background-repeat: no-repeat; background-position: left center; padding: 10px 0px 10px 120px; margin-bottom: 10px; }
#homepageBottom #homepageEvents #homepageEventsTitle #moreEvents { background-image: url('https://txwes.edu/media/twu/style-assets/images/homepage/full-calendar.png'); width: 134px; height: 29px; }
#homepageBottom #homepageEvents .homepageEventsItem { border-bottom: 1px dashed #ccc; padding: 10px 3px; overflow: auto; }
#homepageBottom #homepageEvents .homepageEventsItem:last-child { border-bottom: none; }
#homepageBottom #homepageEvents .homepageEventsItem .eventDate { float: left; text-align: center; }
#homepageBottom #homepageEvents .homepageEventsItem .eventDate .eventMonth { font-size: 0.7em; }
#homepageBottom #homepageEvents .homepageEventsItem .eventDate .eventDay { }
#homepageBottom #homepageEvents .homepageEventsItem .eventTitle { font-size: 0.8em; margin-left: 45px; }

/* Navigation Elements */

#parentNav { position: absolute; top: 0px; left: 0px; z-index: 2; width: 225px; height: 38px; background-image: url('https://txwes.edu/media/twu/style-assets/images/parentNavSection.png'); background-repeat: no-repeat; color: #ffffff; font-size: 1.1em; padding-left: 25px; padding-top: 16px; cursor: pointer; }
#parentNav a, #parentNav a:visited { color: inherit; }
#parentNav:hover { color: #fed000; }
#parentNav #openNav { display: none; position: absolute; right: 0px; top: 50%; margin-top: -27px; cursor: pointer; background-image: url('https://txwes.edu/media/twu/style-assets/images/responsive/section-nav.png'); height: 54px; width: 100px; background-repeat: no-repeat; background-position: center center; }
#parentNav #openNav.open { background-image: url('https://txwes.edu/media/twu/style-assets/images/responsive/section-nav-open.png'); }
#parentNav:hover #openNav { color: #ffffff; }

#sectionNav { width: 224px; margin: 0px; padding: 0px; list-style-type: none; }
#sectionNav a, #sectionNav a:visited { color: inherit; }
#sectionNav li.sectionLink { padding: 10px 15px; margin: 0px 10px; border-top: 1px solid #ffffff; border-bottom: 1px solid #cccccc; }
#sectionNav li.sectionLink:first-child { border-top: none; }
#sectionNav li.sectionLink.current { padding: 10px 25px; margin: 0px; background-color: #ccc; border: none; }
#sectionNav li.sectionLink.current + li.sectionLink { border-top: none; }
#sectionNav li.sectionLink.current.sub { padding: 10px 25px 0px; }

.tempSubNav { display: none; }
#sectionNav #subNav { display: block; width: 189px; margin: 10px 0px 0px -25px; padding: 10px 0px 10px 35px; list-style-type: none; list-style-position:outside; background-color: #ffffff; font-size: 0.9em; }
#sectionNav #subNav li.subLink { padding: 5px 0px; margin: 0px; border: none; }
#sectionNav #subNav li.subLink.current { padding: 5px 0px; margin: 0px; border: none; background-color: #ffffff; list-style-image: url('https://txwes.edu/media/twu/style-assets/images/yellowArrowBullet.png'); }

/* Apply Now Control */

#applyNowCtrl { background-image: url('https://txwes.edu/media/twu/style-assets/images/floatingApplyNowBackground2.png'); background-repeat: no-repeat; width: 253px; height: 220px; position: absolute; top: 165px; left: 50%; margin-left: 249px; }
#applyNowCtrl a, #applyNowCtrl a:visited { color: inherit; }
#applyNowCtrl #applyNowBtn { background-image: url('https://txwes.edu/media/twu/style-assets/images/floatingApplyNowButtonUp.png'); background-repeat: no-repeat; height: 44px; width: 163px; position: absolute; top: 5px; left: 24px; }
#applyNowCtrl #applyNowBtn:hover { background-image: url('https://txwes.edu/media/twu/style-assets/images/floatingApplyNowButtonDown.png'); top: 6px; left: 25px; }
#applyNowCtrl #status { position: absolute; top: 62px; left: 25px; width: 135px; color: #fed000; font-size: 0.7em; border-right: 1px solid #666; padding: 5px 0px; }
#applyNowCtrl #signIn { position: absolute; top: 67px; right: 30px; color: #ffffff; font-size: 0.7em; }
#applyNowCtrl #applyLinks { position: absolute; top: 90px; left: 0px; list-style-image: url('https://txwes.edu/media/twu/style-assets/images/greyBullet.png'); color: #004b8d; }
#applyNowCtrl #applyLinks li:hover { list-style-image: url('https://txwes.edu/media/twu/style-assets/images/yellowBullet.png'); text-decoration: underline; }

/* Simple Apply Now */

#simpleApplyNow {width:222px;height:71px;border-top:4px solid #ccc;border-bottom:4px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;background-image:url('https://txwes.edu/media/twu/style-assets/images/applyNowNewsEvents.png');position:relative;top:-54px;right:0px;margin-bottom:-34px;}
#simpleApplyNow .sendMeInfo {position: absolute;top: 10px;left: 14px;font-weight: bold;}
#simpleApplyNow .applyNow { position: absolute;right: 17px;top: 10px;font-weight: bold; }
#simpleApplyNow .signIn { position: absolute;bottom: 15px;left: 10px;font-size:0.8em; }
#simpleApplyNow .signIn a { font-weight:bold; }

/* Left Column Apply Now Buttons */

#contentCT #leftCol #applyNowBtns { padding: 30px 20px; display: none; }
#contentCT #leftCol #applyNowBtns .btn { color: #ffffff; padding: 5px 10px 5px 30px; background-color: #004b8d; background-size: auto 1.2em; background-position: 7px 5px; background-repeat: no-repeat; font-size: 1.1em; cursor: pointer; }
#contentCT #leftCol #applyNowBtns .applyNow { color: #000000; background-color: #FFFFFF; background-image: url('https://txwes.edu/media/twu/style-assets/images/responsive/homepage-apply-now-icon.png'); margin-bottom: 15px; }
#contentCT #leftCol #applyNowBtns .sendMeInfo { background-image: url('https://txwes.edu/media/twu/style-assets/images/pencil-icon-white.png'); margin-bottom: 15px; }
#contentCT #leftCol #applyNowBtns .visitCampus { background-image: url('https://txwes.edu/media/twu/style-assets/images/responsive/homepage-location-icon-white.png'); }

/* Page Layouts */

/* Column Layout Elements */

h1.pageTitle { float: left; width: 726px; margin:0px; padding: 13px 0px 13px 50px; font-size: 1.4em; font-weight: bold; background-image: url('https://txwes.edu/media/twu/style-assets/images/innerPageTitleBackground.png'); background-repeat: no-repeat; color: #666; }
#contentCT #leftCol { width: 224px; float: left; position: relative; top: 0px; left: 0px; padding-top: 54px; }
#contentCT #centerCol { width: 712px; float: right; padding: 20px 32px 20px 32px; min-height: 450px; }

/* 3 Column */

#contentCT.threeCol #centerCol { width: 460px; float: right; border-right: 1px solid #ccc; }
#contentCT.threeCol #rightCol { width: 224px; float: right; background-color: #ffffff; padding: 0px 14px 0px 12px; min-height: 1px; padding-top: 20px;  }
#contentCT.threeCol #rightCol.applyNowCol { padding-top: 165px; }

/* No Nav */

#contentCT.noNav { background-image: none; }
#contentCT.noNav h1.pageTitle { width: 700px; }
#contentCT.noNav #centerCol { width: 685px; border-right: 1px solid #ccc; float: left; }
#contentCT.noNav #rightCol { width: 224px; float: right; padding: 0px 14px 0px 12px; position: relative; top: 0px; left: 0px; min-height: 1px; }

/* 1 Column */

#contentCT.oneCol { background-image: none; }
#contentCT.oneCol h1.pageTitle { width: 950px; }
#contentCT.oneCol #centerCol { width: 936px; }

/* Page Title Content Box */

.pageTitle { position: relative; top: 0px; left: 0px; }
.pageTitle-content { position: absolute; font-size: 0.6em; top: 50%; right: 30px; margin-top: -15px; }

/* Left Column Content */

#leftColContentCT { width: 224px; margin-top: 20px; float: left; clear: left; background-color: #f3f3f3; overflow: auto; }
#contentCT.noNav #leftColContentCT { float: right; clear: right; margin-right: 14px; background-color: #f3f3f3; }

/* Contact Info */

#contactInfoCT { width: 224px; margin-top: 20px; float: left; clear: left; background-color: #f3f3f3; }
#contactInfoCT .header { background-color: #004b8d; background-image: url('https://txwes.edu/media/twu/style-assets/images/contact-icon.png'); background-repeat: no-repeat; background-position: left; color: #ffffff; padding: 7px 5px 7px 48px; }
#contactInfoCT .content { padding: 5px 15px; font-size: 0.8em; }
#contactInfoCT .title { border-bottom: 1px dashed #ccc; padding: 0px 0px 5px; font-size: 1.2em; }
#contactInfoCT .spacer { border-top: 1px solid #ccc; background-color: #ffffff; height: 1px; width: 100%; margin-top: 10px; margin-bottom: 10px; }
#contactInfoCT h5 { margin: 0; padding: 0; font-size: 1.2em; font-weight: normal; color: #002460; }
#contentCT.noNav #contactInfoCT { float: right; clear: right; margin-right: 14px; background-color: #f3f3f3; }

/* 125 flag and bar */

.onetwentyfivebar { width: 100%; height: 4px; background-color: #f3f3f3; position: absolute; top: 0px; left: 50%; margin-left: -50%; }
.onetwentyfiveflag { width: 61px; height: 92px; position: absolute; top: 0px; left: 50%; margin-left: -213px; background-image: url('/media/twu/style-assets/images/homepage/125flag_desktop.png'); background-repeat: no-repeat; }